
#Mv compressed files into compressed directory
* 6 * * 4 find ~/Downloads -maxdepth 1 -iname '*.zip' -exec mv -t ~/Downloads/compressed '{}' \;

#Mv pdf files into pdf directory 
* 6 * * 4 find ~/Downloads -maxdepth 1 -iname '*.pdf' -exec mv -t ~/Downloads/pdf '{}' \;

